<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.skateboard.peopleforce">

    <application
        android:name="com.skateboard.library.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:launchMode="singleTask"
            android:name="com.skateboard.peopleforce.ui.activity.MainActivity">

        </activity>

        <activity
            android:theme="@style/SplashTheme"
            android:launchMode="singleTask"
            android:name="com.skateboard.peopleforce.ui.activity.SplashActivity"/>


        <activity
            android:theme="@style/LaunchDispathTheme"
            android:launchMode="singleTask"
            android:name=".ui.activity.LaunchDispatchActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".ui.activity.RegisterActivity"
                  android:launchMode="singleTask"/>

        <activity android:name=".ui.activity.LoginActivity"
                  android:launchMode="singleTask"/>

    </application>

</manifest>